<!DOCTYPE html>
<html lang="en">
<head>

    <link rel="stylesheet" href="/bower_components/material-design-lite/material.min.css">
    <script src="/bower_components/material-design-lite/material.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <meta charset="UTF-8">
    <title>Node js</title>
    <link href="/public/css/main.css" rel="stylesheet">
    {%block styles%}
    {%endblock%}
</head>
<body>
{%if messages.error%}
<div class="alert alert-warning">
    {{messages.error}}
</div>
{%endif%}
{%block body%}

{%endblock%}
<script type="text/javascript" src="/public/scripts/jquery.js"></script>
<script type="text/javascript" src="/public/scripts/bootstrap.js"></script>
<script type="text/javascript" src="/public/scripts/system.js"></script>
<script type="text/javascript" src="/public/scripts/material.min.js"></script>
<script type="text/javascript" src="/public/scripts/material.js"></script>
<script type="text/javascript" src="/public/scripts/main.js"></script>
<script type="text/javascript" src="/config.js"></script>
{%block scripts%}
{%endblock%}
</body>
</html>




